div.rowspn{ display: flex;
            justify-content: center;
         align-items: center;}
         table{ border: 1px solid black;
            border-collapse:collapse;
            width: 300px;
    
        }
        
        thead{ background-color:lightblue;
               }
        
        th{ padding: 5px;
            background-color: #A9A9A9 ;
            border: 1px solid black;       }
            
        td{  text-align: center;
            font-size: 15px;
            color:linen;
            background-color:#5F9EA0;
            font-family: sans-serif;
             border: 1px solid black;}

        tr{ border: 1px solid black;}
        /*div rowspn end*/
         
        /*div colspn start*/
         div.colspn{ display: flex;
             justify-content: space-evenly;
              align-items: baseline;
              margin-top:20px;}